.header {
  //background-color: #4f5d65;
  background-color: #F8F9FB;

  .buttonContainer {
    text-align: right;

    button {
      height: 30px;
      width: 100px;
      margin: 5px !important;
    }
  }

  .text{
    //color: #D9D9D9;
    color: #4C4C4D;
    font-size: 30px !important;
    font-family: "Lato", serif;
    padding-left: 10px;
    padding-bottom: 10px;
  }
}
