@import "../../node_modules/@bentley/ui-core/lib/ui-core/typography";

.sstc-data-header {
    margin: 10px;
}

.sstc-data-container {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 9pt;
    margin-left: 10px;

    /* flex-grow: 1; */
}

.sstc-table-container {
    display: block;
    overflow-y: hidden;
    flex-grow: 1;
}

.sstc-options-container {
    display: block;
}

.sstc-data-table {
    border-collapse: collapse;
    display: flex;
    height: 100%;
    width: fit-content;
    flex-direction: column;
}

.sstc-data-table td, .sstc-data-table th {
    margin: 0;
    /* padding: 0px; */
    padding-left: 1px;
    padding-right: 1px;
    white-space: nowrap;
}

.sstc-cycler{
    margin-left: 10px;
}

.vertical-rule {
    margin-left: 15px;
    margin-right: 15px;
    border-left:1px solid #000;
    height:30px
}

.sstc-data-table tbody td:nth-child(3) {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    padding-left: 2px;
    padding-right: 2px;
}

.sstc-data-table thead td:nth-child(3) {
    border-left: 1px solid grey;
    padding-left: 2px;
    padding-right: 2px;
}

.sstc-data-table tr {
    margin: 0;
    height: 0;
}

.sstc-data-table thead {
    display: table-header-group;
}

.sstc-data-table tbody {
    flex: 1;
    overflow-y: scroll;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.sstc-visibility-button {
    margin: 0;
    padding: 2px 4px;
}

.sstc-isolate-button {
    margin: 0 0 0 2px;
    padding: 2px 4px;
    fill: transparent;
    border: 0 none;
    font-size: 1.4em;
}

.sstc-window-new-button {
    margin: 0 0 0 2px;
    padding: 2px 2px 2px;
    fill: transparent;
    border: 0 none;
    font-size: 1.2em;
    text-align: right;
}

.sstc-swap-button {
    margin: 0 0 0 2px;
    padding: 2px 4px;
}

.sstc-visibility-button.mixed {
    background: grey;
}

.sstc-visibility-button.transparent {
    background: rgb(153, 177, 180);
}

.sstc-visibility-button.hidden {
    visibility: hidden;
}

.sstc-visibility-button.off {
    color: black;
    background: none;
    /* background-color: rgb(73, 76, 77); */
}

.sstc-select-button, .sstc-label-button {
    margin: 0;
    padding: 2px 4px;
}

.sstc-select-button.off {
    background: grey;
}

.sstc-select-button.on {
    background: green;
}

.sstc-label-container {
    /* width: 150px; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* display: inline; */
    margin: 0;
    padding: 0;
    /* padding-left: 6px;
    padding-right: 6px;
    display: block;
    box-sizing: content-box; */
}

.cycler-progress{
    font-size: .6em;
}

.sstc-count-container {
    display: inline;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    padding: 0;
}

.sstc-color-picker-button {
    margin: 0 2px;
    float: right;
    /* display: inline; */
}

.sstc-action-container 
{
    display: flex;
    flex-direction: row;
}

.sstc-action-container-expand
{
    flex-grow: 1;
}

.sstc-title-container {
    font-weight: bold;
}

.mltc-name-th, .mltc-name-td 
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 160px;
    max-width: 160px;
    display: flex;
    flex-direction: row;
}

.mltc-label-container
{
    display: block;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    padding: 0;
}

.mltc-expand-button
{
    color: black;
    background: none;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 2px;
}

.mltc-expand-button:hover
{
    color: #ff0000;
    background: none;
}

.mltc-label-th, .mltc-label-td 
{
    min-width: 105px;
    max-width: 105px;
}
.mltc-prediction-th, .mltc-prediction-td 
{
    min-width: 80px;
    max-width: 80px;
}

.sstc-spinner-container
{
    display: table-cell;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}

.sstc-spinner-inner-container
{
    width: fit-content;
    display: block;
}





.cycler-container {
    /* display: inline-block; */
    display: flex;
    align-items: center;
    box-sizing: content-box;
    height: 100%;
}

.cycler-total-count,
.cycler-selected-count,
.cycler-progress {
    /* display: inline-block; */
    margin: 2px;
    padding-left: 2px;
    padding-right: 2px;
    width: fit-content;
    height: fit-content;
    display: inline-block;
    box-sizing: border-box;
    font-size: .6em;
}

.cycler-title {
    text-align: center;
    text-decoration: underline;
    margin: 0;
    padding-left: 6px;
    padding-right: 6px;
    display: block;
    font-size: 1.3em;
    /* background-color: white; */
}
.cycler-value {
    margin: 0;
    text-align: center;
    padding-left: 4px;
    padding-right: 4px;
    display: block;
    /* border-left: 1px solid white;
    border-right: 1px solid white; */
}
.cycler-button {
    margin: 0;
    padding: 2px 4px;
    height: fit-content;
    box-sizing: border-box;
}

.cycler-previous {
    fill: transparent;
    margin-right: 1px;
    margin-left: 0;
    border: 0 none;
    font-size: .75em;
    font-weight: bold;
}

.cycler-next {
    fill: transparent;
    margin-right: 0;
    margin-left: 1px;
    border: 0 none;
    font-size: .75em;
    font-weight: bold;
}

.sstc-control-button
{
    margin: 1px;
    padding: 3px 5px;
}

.sstc-hide-empty-toggle
{
    font-size: 9pt;
}
